header{
    margin:0px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row; 
    align-items:flex-end;
    background: cadetblue;
}

header div h1{
    padding:10px;
    font-size:30px;    
    color:rgb(18, 33, 102);

}

#name{
    font-size:50px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    padding:15px;
    flex-grow:1; 
    display:flex; 
    justify-content:flex-end;
    display:flex;
    flex-wrap:wrap;
}
nav a{
    font-size: 25px;
    color:rgb(18, 33, 102);
    text-decoration:none;
    border-bottom: 2px;
    padding:5px;
    margin:5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

nav a:hover{
    color:rgb(2, 61, 61);
}
